.orders-page{
  padding: 3rem 2rem;
  &__orders-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__orders-count{
    font-size: 0.75rem;
    font-weight: normal;
  }
}
::ng-deep {
  .action-label {
    font-size: 13px !important;
    color: #55565e;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    margin: 0 !important;
    padding: 5px;
    cursor: pointer;
  }
  .action-label:hover {
    background-color: #cfd8dc;
  }
  .p-overlaypanel:after {
    border-width: 8px;
    margin-left: -4px;
  }
  .p-overlaypanel::before {
    display: none !important;
  }
  .p-overlaypanel {
    display: inline-block !important;
    position: absolute !important;
    z-index: 1016 !important;
    margin-top: -5px !important;
    left: auto !important;
    top: auto !important;
    width: 100px !important;
    border-radius: 10px !important;
    box-shadow: 0 28px 36px 0 rgba(100, 111, 135, 0.15) !important;
    border: 0.5px solid #e9ebf1 !important;
    background-color: #ffffff;
  }
}
