<section class="orders-page">
  <div class="orders-page__orders-title">All Orders <span class="orders-page__orders-count">{{orders.length}} orders found</span></div>
  <div class="row m-0 p-0">
    <p-table
      [value]="orders"
      [paginator]="true"
      [rows]="rows"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
          <tr>
              <th>#</th>
              <th pSortableColumn="code">Order ID <p-sortIcon field="OrderId"></p-sortIcon></th>
              <th pSortableColumn="category">User <p-sortIcon field="UserId"></p-sortIcon></th>
              <th pSortableColumn="name">Order Date <p-sortIcon field="OrderDate"></p-sortIcon></th>
              <th pSortableColumn="price">Total Price <p-sortIcon field="price"></p-sortIcon></th>
              <th pSortableColumn="quantity">Payment <p-sortIcon field="PaymentType"></p-sortIcon></th>
              <th>Actions</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order let-rowIndex="rowIndex">
          <tr>
              <td>{{rowIndex + 1}}</td>
              <td>{{order.OrderId}}</td>
              <td>{{getUser(order.UserId)}}</td>
              <td>{{order.OrderDate | date:'dd MMMM YYYY'}}</td>
              <td>{{getPrice(order.Products) | currency: 'USD'}}</td>
              <td>{{order.PaymentType}}</td>
              <td>
                <div #myDiv>
                  <div class="action-container"
                  (click)="op.toggle($event)">
                  <img src="assets/images/more-icon.svg" alt="more" />
                  </div>
                  <p-overlayPanel #op [appendTo]="myDiv">
                    <ng-template pTemplate>
                      <p class="action-label"> view</p>
                    </ng-template>
                  </p-overlayPanel>
                </div>
              </td>
          </tr>
      </ng-template>

  </p-table>
  </div>
</section>
